<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
  testing
    <h1>GAME-ON!</h1>
    <h2>Unfortunately, your booking request has been rejected, <%= @user.first_name %>!</h2>
    <p>There are plenty of other venues to checkout! Now <%= link_to 'start booking sports venues', "https://game-on-le-wagon.herokuapp.com" %> and do
awesome things!</p>
  </body>
</html>

