<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>GAME-ON!</h1>

    <h2> Hi, <%= @owner.first_name %></h2>
    <p> <%= @user.first_name %> has requested to book your space! </p>
    <p>Checkout their  <%= link_to 'request', booking_url(@booking) %> and confirm at your leisure</p>
  </body>
</html>


