// Breathing row
.breath {
  height: 80px;
}

// Profile info box
.profile-info {
  border: 0.5px solid rgb(13, 13, 13);
  border-radius: 1px;
  box-shadow: 0.5px 0.5px 1px rgb(0, 0, 0);
  background-color: white;
  height: 150px;
  position: relative;
}

.profile-info .profile-info-avatar {
  position: absolute;
  top: -25px;
  left: 250px;
  box-shadow: 0.5px 0.5px 1px rgb(0, 0, 0);
}

.profile-info .profile-info-name {
  position: absolute;
  top: 15px;
  left: 170px;
}

.profile-info p em {
  font-size: 12px;
  position: absolute;
  top: 70px;
  left: 200px;
}

// Profile bookings box
.profile-bookings {
  border: 0.5px solid rgb(13, 13, 13);
  border-radius: 1px;
  box-shadow: 0.5px 0.5px 1px rgb(0, 0, 0);
  background-color: white;
  height: 250px;
  position: relative;
}

// Profils spaces box
.profile-spaces {
  border: 0.5px solid rgb(13, 13, 13);
  border-radius: 1px;
  box-shadow: 0.5px 0.5px 1px rgb(0, 0, 0);
  background-color: white;
  height: 250px;
  position: relative;
}

// Profile box banner
.profile-box-banner{
  height: 40px;
  width: 100%;
  background-color: rgb(46, 184, 46);
  position: absolute;
  top: 0px;
}

.profile-box-banner h4{
  color: white;
  position: absolute;
  top: -5px;
  left: 10px;
}









