.profile-user-info {
  position: relative;
  height: 400px;
  margin-left: 100px;
  margin-top: 50px;
  border: 0.5px solid #e6e6e6;
  border-radius: 1px;
  box-shadow: 0.5px 0.5px 1px #f2f2f2;
}

.profile-user-info-avatar {
  position: absolute;
  height: 70px;
  width: 70px;
  top: 20px;
  left: 90px;
}

.profile-user-info h3 {
  position: absolute;
  font-size: 23px;
  top: 100px;
  left: 23px;
}

.profile-user-info p {
  position: absolute;
  font-size: 12px;
  top: 150px;
  left: 32px;
}

.profile-user-about {
  height: 400px;
  margin-top: 50px;
  border: 0.5px solid #e6e6e6;
  border-radius: 1px;
  box-shadow: 0.5px 0.5px 1px #f2f2f2;
}

.box-banner {
  position: relative;
  background-color: #d9d9d9;
  height: 50px;
  width: 100%;
}

.box-banner h4 {
  position: relative;
  top: 12px;
  left: 10px;
  margin-top: 0px;
}
