<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>GAME-ON!</h1>
    <h2>Thanks for signing up, <%= @user.name %>!</h2>
    <p>Thanks for joining and have a great day! Now <%= link_to 'start booking sports venues', "https://game-on-le-wagon.herokuapp.com" %> and do
awesome things!</p>
  </body>
</html>
