<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>GAME-ON!</h1>
    <h2>Thanks for the registration request, <%= @booking.user.first_name %>!</h2>
    <p> <%= @booking.space.user.first_name %></p>
    <p>Checkout your  <%= link_to 'keep an eye on the booking', booking_path(@booking) %></p>
  </body>
</html>

