<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
  testing
    <!-- <h1>GAME-ON!</h1>
    <h2>Unfortunately, your booking request has been rejected, <%= @booking.user.first_name %>!</h2>
    <p> <%= @booking.space.user.first_name %></p>
    <p>Checkout your  <%= link_to 'booking', booking_url(@booking) %></p> -->
  </body>
</html>

