<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>GAME-ON!</h1>
    <h2>Thank you for listing your venue with us, <%= @user.first_name %>!</h2>
    <p>Checkout your space: <%= link_to "#{@space.name}", space_url(@space) %></p>
  </body>
</html>
