<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
  testing
    <!-- <h1>GAME-ON!</h1>

    <h2> Hi, <%= @booking.space.user.first_name %></h2>
    <p> You have rejected <%= @booking.user.first_name %>'s request to book your space. If it was something other than scheduling, please reach out and let us know why you rejected the request </p> -->
  </body>
</html>
