<div class="container">
  <h1><%= @user.first_name %></h1>
  <h3><em>Member since <%= @user.created_at %></h3>

  <div class="container" class="col-xs-8 col-offset-xs-2">
  <div class="row">
      <div class="tabs">
        <a class="tab active" href="#">
          <h3>Profile</h3>
          <p></p>
        </a>
        <a class="tab" href="#">
          <h3>3</h3>
          <p>Bookings</p>
        </a>
        <a class="tab" href="#">
          <h3>19</h3>
          <p>Reviews</p>
        </a>
      </div>
    </div>
  </div>
