<footer class="gameon-footer">
<div class="container">
  <div class="row">
    <div class="col-sm-4 text-center">
      <p>About Us</p>
      <p>Contact Us</p>
      <p>Terms and Conditions</p>
      <p>Privacy Policy</p>
    </div>

    <div class="col-sm-4 text-center" id="company-name">
      <p>© 2016 GameOn Ltd</p>
    </div>

    <div class="col-sm-4 text-center" id="social">
      <h5>Follow Us</h5>
      <i class="fa fa-facebook-square" aria-hidden="true"></i>
      <i class="fa fa-twitter-square" aria-hidden="true"></i>
      <i class="fa fa-instagram" aria-hidden="true"></i>
    </div>
  </div>
  </div>
</footer>
