<div class="footer">
  <div class="footer-content">
    <div class="footer-info">
      <p>About Us</p>
      <p>Contact Us</p>
      <p>Terms and Conditions</p>
      <p>Privacy Policy</p>
    </div>
    <div class="footer-brand">
      <p>© 2016 GameOn Ltd</p>
    </div>
    <div class="footer-social">
      <h5>Follow Us:</h5>
      <div class="footer-social-icons">
        <i class="fa fa-facebook-square fa-lg" aria-hidden="true"></i>
        <i class="fa fa-twitter-square fa-lg" aria-hidden="true"></i>
        <i class="fa fa-instagram fa-lg" aria-hidden="true"></i>
      </div>
    </div>
  </div>
</div>





