<div class="banner" style="background-image: url(<%= image_path('tennis-background.jpg') %>)">
  <div class="banner-content">
    <h1>SEARCH. BOOK. PLAY.</h1>
    <p>Very cool stuff, useful and smart</p>
    <%= form_tag spaces_path, :method => 'get' do %>
      <p>
        <%= text_field_tag :search, params[:search] %>
        <%= submit_tag "Search", :name => nil %>
      </p>
    <% end %>
  </div>
</div>
