.gameon-footer {
  width: 100vw;
  margin-top: 2px;
  background-color: #939393;
  box-shadow: 0px -2px 2px #939393;
  padding-top: 20px;
  margin-left: -150px;
  p {
    font-size: 13px;
    color: #EFEFEF;
  }
}

.fa {
  font-size: 30px;
  }


#company-name {
  padding-top: 80px;
}

#social {
  padding-top: 5px;
  h5 {
    color: #EFEFEF;
  }
}
