.footer-content {
  height: 20vh;
  background-color: #333333;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
}

.footer-info {
  display: flex;
  flex-direction: column;
  margin-top: 15px;

  p {
    font-size: 15px;
    color: white;
    opacity: 0.9;
  }
}

.footer-brand {
  p {
    margin-top: 110px;
    color: white;
    opacity: 0.7;
  }
}

.footer-social {
  display: flex;
  align-items: center;
  flex-direction: column;
  h5 {
    color: white;
  }

  i {
    color: white;
    opacity: 0.9;
    width: 20px;
  }
}

.footer-social-icons {
  display: flex;
  align-items: center;
  justify-content: space-between;

    i {
      margin: 5px;
    }
}





