// Graphical variables
@import "config/variables";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";
@import "eonasdan-bootstrap-datetimepicker";

// Your CSS
@import "layout/index";
@import "components/index";
@import "pages/index";
@import "vendor/index";

.add-margins {
  margin: 100px 500px 100px 500px;
}

// .add-margins-2 {
//   margin: 50px 400px 100px 400px;
// }

.form-actions {
  padding: 2px;
}


.wrapper-full {
  height: 75vh;
}

.message-inbox {
  border: 1px solid darkgrey;
  margin: 10px;
  padding: 10px;
  border-radius: 5px;
}

.inbox {
  margin: 10px;
  border: 1px solid lightgrey;
  padding: 10px;
  border-radius: 5px;
  height: 73vh;
}

body {
  background-color: rgb(242, 242, 242);
}
